<!DOCTYPE html>
<html lang="en">
  <head>
    <head><meta http-equiv="Content-Type" content="text/plain; charset=utf-8"/></head>
    <link rel="stylesheet" href="/static/dashboard.css" /> <!-- link to the css file -->
    <title>Dashboard</title>
  </head>
  <div class="body">

    <!-- this div is for the video feed-->
    <div class="top">
      <div style="display: flex; align-items: center; justify-content: center; top: 0; left: 0; height: 100%; width: 100%;"> <!-- flexbox to center the video feed, but the arrow is outside so that it can remain where it is with absolute positioning, also takes up entirety of parent div to not mess with flex positioning-->
        <img src="{{ url_for('video_feed') }}" style= "height: 95%;"> <!-- video feed, max stuff set to ensure no overflow and also give some nice margins (using flex) -->
      </div>
    </div>

      <div style = "display: flex; align-items: center; justify-content: center; top: 0; height: 100%; width: 100%; display: grid; grid-gap: 1rem; grid-template-columns: 1fr 1fr; overflow-x: hidden;">
        <!-- this entire div is just the buttons and its pretty intuitive -->
        <div class="downL" style = "height: 100%; width: 100%;">
          <h1>Welcome, {{username}}</h1>
          <button style="height: 3rem;" onclick="beginning()">Beginning of Video</button>
          <script>
            function beginning() {
              fetch("skipBeginning")
            }
          </script>

          <button style="height: 3rem;" onclick="middle()">Middle of Video</button>
          <script>
            function middle() {
              fetch("skipMiddle")
            }
          </script>
        </div>


        <div class="downR" style = "height: 100%; width: 100%;">
          <div id="log"></div>
          <script>
              var logDiv = document.getElementById('log'); // refers to the div element that was created above the script tag
              var logEventSource = new EventSource('/log'); // refers to the route that we created in the server for server sent events (sses)
              logEventSource.onmessage = function(event) { // listens to the message event using the onmessage attribute of the EventSource object
                  var data = event.data.trim(); // trims the data to remove any whitespace
                  if (data !== '') { // checks if the data is not empty
                    logDiv.innerHTML += data + '<br>'; // adds the new data to the div element with a line break (br because the text is being displayed in an html element)
                    var lineList = logDiv.innerHTML.split('<br>'); // splits the data in the html element into a list of lines
                    logDiv.innerHTML = lineList.slice(-20).join('<br>'); // slices the list to only have the last 23 lines and then joins them back together with line breaks
                  }
              };
          </script>
        </div>
      </div>
    <a href="{{url_for('logout')}}"><h3>Press here to logout</h3></a>
  </div>
</html>